{% extends 'frontend/index.html' %}
{% block title %}Page not found | Manager Tool{% endblock %}
{% block content %}
	<div class="col-lg-12 text-center">
		<h3>
            The page you requested could not be found.
        </h3>
        <h5>Use your browsers <b>Back</b> button to navigate to the page you have previously come from.</h5>
        <p>
            <b>If the back button didn't help, click on the button below instead.</b>
        </p>
        <br>
        <a href="/" class="btn btn-lg btn-inverse">Back to Dashboard</a>
	</div>
{% endblock %}