{% extends 'frontend/index.html' %}
{% block title %}Forgot Password | Manager Tool{% endblock %}
{% block content %}
	<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 register-form">
        {% if reset %}
        <form method="POST" id="registerAccountForm">
            <h2>PASSWORD RESET</h2>
            <div class="form-group col-lg-12 no-padding">
                <label for="new_password" class="control-label">Password</label>
                <input type="password" name="new_password" id="new_password" class="form-control input-lg" required>
            </div>
            <div class="form-group col-lg-12 no-padding">
                <label for="confirm_passord" class="control-label">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control input-lg" required>
            </div>
            <div class="form-group col-lg-12 no-padding">
                <button type="submit" class="btn btn-lg btn-inverse">SAVE PASSWORD</button>
                <input type="hidden" name="token" value="{{ token }}">
                <input type="hidden" name="uid" value="{{ uid }}">
            </div>
        </form>
        {% else %}
		<form method="POST" id="registerAccountForm">
            <h2>FORGOT PASSWORD</h2>
            <div class="form-group col-lg-12 no-padding">
                <label for="email" class="control-label">EMAIL</label>
                <input type="email" name="email" id="email" class="form-control input-lg" required>
            </div>
            <div class="form-group col-lg-12 no-padding">
                <button type="submit" class="btn btn-lg btn-inverse">SEND</button>
                <input type="hidden" name="token" value="{{ csrf_token }}">
            </div>
            <a href="/login">Login</a> / <a href="/register">Register</a>
        </form>
        {% endif %}
	</div>
{% endblock %}
{% block script %}
    {% if reset %}
    <script type="text/javascript" src="/js/password-reset.min.js"></script>
    {% else %}
    <script type="text/javascript">
        {# THIS IS THE UNOBFUSCATED JS FOR SEND PASSWORD #}
        {#
        $(document).ready(function(){
            $('input[name=email]').focus();
        });
        $("#registerAccountForm").submit(function (e){
            $(".btn-inverse").prop("disabled", true).html($("<i>", { class: "fa fa-spin fa-circle-o-notch" })).append(" SEND");
            $(".form-control").prop("readonly", true);
        });
        #}
        var _0xfe07=["\x72\x65\x61\x64\x6F\x6E\x6C\x79","\x70\x72\x6F\x70","\x2E\x66\x6F\x72\x6D\x2D\x63\x6F\x6E\x74\x72\x6F\x6C","\x20\x53\x45\x4E\x44","\x61\x70\x70\x65\x6E\x64","\x3C\x69\x3E","\x66\x61\x20\x66\x61\x2D\x73\x70\x69\x6E\x20\x66\x61\x2D\x63\x69\x72\x63\x6C\x65\x2D\x6F\x2D\x6E\x6F\x74\x63\x68","\x68\x74\x6D\x6C","\x64\x69\x73\x61\x62\x6C\x65\x64","\x2E\x62\x74\x6E\x2D\x69\x6E\x76\x65\x72\x73\x65","\x73\x75\x62\x6D\x69\x74","\x23\x72\x65\x67\x69\x73\x74\x65\x72\x41\x63\x63\x6F\x75\x6E\x74\x46\x6F\x72\x6D","\x66\x6F\x63\x75\x73","\x69\x6E\x70\x75\x74\x5B\x6E\x61\x6D\x65\x3D\x65\x6D\x61\x69\x6C\x5D","\x72\x65\x61\x64\x79"];$(document)[_0xfe07[14]](function(){$(_0xfe07[13])[_0xfe07[12]]()}),$(_0xfe07[11])[_0xfe07[10]](function(){$(_0xfe07[9])[_0xfe07[1]](_0xfe07[8],!0)[_0xfe07[7]]($(_0xfe07[5],{"\x63\x6C\x61\x73\x73":_0xfe07[6]}))[_0xfe07[4]](_0xfe07[3]),$(_0xfe07[2])[_0xfe07[1]](_0xfe07[0],!0)});
    </script>
    {% endif %}
{% endblock %}